#card {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../images/backgraound/101_54768-455.jpg");
  /* background-color: #818181b1; */
}
 #card h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #E41F3A;
  margin-top: 20px;
} 

hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, #ff8502, #02003f 30%, #ff8502);
}

#card hr{
  width: 20%;
}
.card-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.3s;
  background: linear-gradient(135deg, #ffcb7d, #001f3f);
}
.homecard {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.3s;
  background-color: #818181;
}
.homecard img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.homecard h2 {
  /* color: #f09431; */
  font-size: 1.8rem;
  margin: 15px 0;
  /* color: white; */
  transition: color 0.4s;
}

.homecard p {
  font-size: 1.2rem;
  color: #ffffff;
  padding: 0 15px;
}

 .cardb {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin:10px auto auto auto ;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.homecard:hover {
  /* transform: translateY(-10px) scale(1.03) rotate(1deg); */
  box-shadow: 0 10px 20px 0px rgb(250, 204, 0);
}

.homecard:hover h2 {
  color: #ffdc7d;
}

.homecard:hover img {
  transform: scale(1.1);
}