.news-ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /* background-color: #222; */
  padding: 10px 0;
}

.news-content {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.news-items-container {
  display: inline-flex;
  gap: 20px; /* Space between news items */
}

.news-item {
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
}
