body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #0d1117;
    color: #ffffff;
    box-sizing: border-box;
}

.brand2 {
    padding-top: 50px;
    animation: glowPulse 4s infinite;
    /* background: linear-gradient(to bottom, #000000, #01003f); */
}
@keyframes glowPulse {
    0%, 100% { filter: brightness(1); }
    50% { filter: brightness(1.5); }
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100vh;
    /* color: #ffffff; */
    /* background: linear-gradient(to bottom, #FC783A, #4c5c6c, #000000); */
}
.hero h6{
    color: #ffffff;
}
.hero-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h6 {
    font-weight: bold;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.9rem;
    margin-bottom: 30px;
}
.hero-image .image-slider {
    margin-top: 100px;
    margin-right: 50px;
    width: 600px;
    height: 400px;
    border-radius: 10%;
    background-size: cover;
    animation: slider 9s ease-in-out infinite;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

@keyframes slider {
    0% {
        background-image: url("./hero\ \(1\).png");
    }

    50% {
        background-image: url("./hero\ \(2\).png");
    }

    100% {
        background-image: url("./hero\ \(3\).png");
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 90%;
    }

    .hero-image {
        margin-top: 20px;
    }
}