#why-chooses-us {
    height: 100vh;
    background: linear-gradient(to bottom, #001f3f, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 0px;
}

#why-choose-us.a-m {
    animation: fadeIn 2s ease-in-out;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-why {
    margin-top: -70px;
    padding: 100px;
    width: 95vw;
    padding-left: 5px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.main-why.a-main {
    animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sub-why {
    padding: 20px;
    width: 55vmin;
    padding: 1em 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
    background: linear-gradient(135deg, #627175, #192b41);
    border-bottom: 10px solid #188cf9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-why:hover {
    transform: scale(1);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
}

.sub-why h1 {
    font-size: 2.2rem;
    color: #00d4ff;
    margin-bottom: 10px;
    animation: textGlow 2s infinite alternate;
}

@keyframes textGlow {
    from {
        text-shadow: 0px 0px 10px #00d4ff, 0px 0px 20px #00d4ff;
    }

    to {
        text-shadow: 0px 0px 20px #00d4ff, 0px 0px 30px #00d4ff;
    }
}

.upper-why {
    margin-top: -10px;
}

.upper-why hr {
    margin-left: -40px;
    width: 140%;
}

.why-content-head {
    text-align: center;
    font-size: 2.5rem;
    color: #00d4ff;
    margin-top: 10px;
}

.why-content-head.ani-head {
    animation: fadeInDown 1.8s ease-out;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#why-chooses-us p {
    font-size: 1.4rem;
    text-align: center;
    color: #d1d1d1;
}

#why-chooses-us p.ani-p {
    animation: fadeInUp 1.5s ease-in-out;

}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
