.circular-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .circular-progress {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
  }
  
  .countup-text {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  